<div class="row">
  <div class="col-md-12">
    <table class="table table-responsive table-bordered table-hover">
      <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Short Name</th>
        <th>Pland Number</th>
        <th>Actual Number</th>
        <th>Progress</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="project in projects track by $index">
        <td scope="row">{{$index + 1}}</td>
        <td>{{project.attributes.name}}</td>
        <td>
          <a ng-href="{{loadUrl(project.attributes.short_name)}}" target="_blank">{{project.attributes.short_name}}</a>
        </td>
        <td>{{project.attributes.patitent_num}}</td>
        <td>0</td>
        <td>{{0/project.attributes.patitent_num}}%</td>
        <td class="text-center" width="300">
          <div>
            <a href="#" class="btn btn-warning btn-xs" ui-sref="app.admin.projects.table({id: project.id})">
              <span class="glyphicon glyphicon-list"></span>
            </a>
            <a href="#" class="btn btn-info btn-xs" ui-sref="app.admin.projects.design({projectId: project.id})">
              <span class="glyphicon glyphicon-blackboard"></span>
            </a>
            <a class="btn btn-warning btn-xs" ui-sref="app.admin.projects.uploads({id: project.id})">
              <span class="glyphicon glyphicon-picture"></span>
            </a>
            <a href="#" class="btn btn-info btn-xs" ui-sref="app.admin.projects.show({id: project.id})">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a class="btn btn-warning btn-xs" ui-sref="app.admin.projects.edit({id: project.id})">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-danger btn-xs" ng-click="deleteItem(project, $index)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
     <ul uib-pagination total-items="total" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm pull-right"
        ng-click="loadProject(currentPage)"
        boundary-link-numbers="true">
    </ul>
  </div>
</div>