<div class="row">
  <div class="col-md-12">
    <h3>If True</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="control-label">
      type
    </label>
    <select class="form-control"
            ng-model="modelSelected.action.todoTrue.type"
            ng-change="reFormatTodoTrue(modelSelected.action.todoTrue.type)">
      <option value="alert">alert</option>
      <option value="link">link</option>
    </select>
  </div>
  <div class="col-md-3" ng-if="modelSelected.action.todoTrue.type == 'link'" >
    <label class="control-label">
      link
    </label>
    <select class="form-control" ng-model="modelSelected.action.todoTrue.data">
      <option ng-repeat="pageRedirect in pages"
              value="{{pageRedirect.id}}"
              ng-if="pageRedirect.id != pageSelecting.id">{{pageRedirect.attributes.name}}</option>
    </select>
  </div>
  <div class="col-md-3"
       ng-if="modelSelected.action.todoTrue.type == 'alert'"
       ng-init="modelSelected.action.todoTrue.data = 'Input your alert message'">
    <label class="control-label">
      message
    </label>
    <input
        ng-model = "modelSelected.action.todoTrue.data"
        style="margin-left: 5px" type="text" class="form-control"/>
  </div>
  <div class="col-md-6"></div>
</div>
<div class="row"
     ng-init="initDataForPostData()"
     ng-if="modelSelected.action.todoTrue.type == 'post'">
  <todo-true fields="fields" model-selected="modelSelected" pages="pages" page-selecting="pageSelecting"></todo-true>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>If false</h3>
  </div>
</div>

<div class="row">
  <todo-false model-selected="modelSelected" pages="pages" page-selecting="pageSelecting"></todo-false>
</div>


