<table class="table table-bordered" style="margin-top: 20px;">
  <thead>
  <th class="col-xs-3" translate="localVar.title.localVarName"></th>
  <th class="col-xs-3" translate="localVar.title.localVarType"></th>
  <th class="col-xs-4" translate="localVar.title.localVarValue"></th>
  <th class="col-xs-2"></th>
  </thead>
  <tbody>
  <tr>
    <td class="col-xs-3">
       <input type="text" class="form-control" ng-model="local.name" />
    </td>
    <td class="col-xs-3">
      <select class="form-control" ng-model="local.query.type">
        <option value="string" translate="localVar.type.string"></option>
        <option value="number" translate="localVar.type.number"></option>
        <option value="object" translate="localVar.type.object"></option>
        <option value="array" translate="localVar.type.array"></option>
      </select>
    </td>
    <td class="col-xs-4">
      <textarea class="form-control" rows="4" ng-model="local.query.data"></textarea>
    </td>
    <td class="col-xs-2">
      <a class="btn btn-info btn-sm" ng-click="saveLocalVar()" ng-if="!isUpdate">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
      <button class="btn btn-info btn-sm" ng-click="updateLocalVar()" ng-if="isUpdate">
        <i class="glyphicon glyphicon-save"></i>
      </button>
      <button class="btn btn-danger btn-sm" ng-click="deleteLocalVar()" ng-disabled="listTableToDelete.length == 0">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<table class="table table-fixed-custom">
  <thead>
  <tr style="clear: both">
    <th class="col-xs-1">
      <label>
        <input type="checkbox" ng-model="varChecked" ng-click="deleteAllVar()">
      </label>
    </th>
    <th class="col-xs-3">{{'localVar.title.localVarName' | translate}}</th>
    <th class="col-xs-3">{{'localVar.title.localVarType' | translate}}</th>
    <th class="col-xs-3">{{'localVar.title.localVarValue' | translate}}</th>
    <th class="col-xs-2"></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="variable in localVars" style="clear: both">
    <td class="col-xs-1">
      <label>
        <input type="checkbox" ng-checked="varChecked" ng-click="addToListVarToDelete(variable)">
      </label>
    </td>
    <td class="col-xs-3">
      {{variable.attributes.name}}
    </td>
    <td class="col-xs-3">
      {{variable.attributes.query.type}}
    </td>
    <td class="col-xs-3">
      {{variable.attributes.query.data}}
    </td>
    <td class="col-xs-1">
      <a class="btn btn-success btn-sm" ng-click="getVar(variable, $index)" ng-disabled="listVarToDelete.length > 1">
        <i class="glyphicon glyphicon-pencil"></i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
