<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success"ui-sref="app.admin.projects.show({id: projectId})">
      <i class="fa fa-chevron-left"></i> {{'buttons.back' | translate}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Users were added role</h2>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered" style="margin-bottom: 0px">
      <thead>
      <tr>
        <th style="width: 20px">&nbsp;</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="(i, user) in usersInTypes">
        <td>
          <a class="btn btn-sm btn-danger" ng-click= "deleteUser(user, i)">
            <i class="glyphicon glyphicon-minus"></i>
          </a>
        </td>
        <td>{{user.user.attributes.name}}</td>
        <td>{{user.user.attributes.email}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Users were not added role</h2>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <form ng-submit="searchUser()">
     <div class="input-group">
        <input type="text" class="form-control" placeholder="Search User" ng-model="searchCriteriaUser">
        <div class="input-group-btn">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" ng-click="searchUser()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </div>
        </div>
     </div>
    </form>
  </div>

  <div class="col-md-12" style="height:400px; overflow-y: auto;">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th width="50">&nbsp;</th>
        <th width="400">Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(i, user) in usersNotInTypes">
        <td>
          <a class="btn btn-sm btn-primary" ng-click= "addRole(user, i)" ng-if="!user.isDone">
              <i class="glyphicon glyphicon-plus"></i>
          </a>
          <button class="btn btn-sm btn-info" ng-if="user.isDone">
            <i class="fa fa-check-circle-o"></i>
          </button>
        </td>
        <td>{{user.user.attributes.name}}</td>
        <td>{{user.user.attributes.email}}</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="col-md-12">
     <ul uib-pagination total-items="total" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm pull-right"
        ng-click="loadPage(currentPage)"
        boundary-link-numbers="true">
    </ul>
  </div>
</div>