<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="treeview" ng-repeat="item in links"
          ng-class="{ active: $state.includes(item.link)}">
        <a href="javascript:;">
          <i ng-if="item.icon" class="fa fa-{{item.icon}}"></i>
          <span>{{item.title}}</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>

        <ul class="treeview-menu">
          <li ng-repeat="subitem in item.sublinks"
              ng-class="{ active: $state.includes(subitem.link)}">
            <a ng-if="!subitem.external" ui-sref="{{subitem.link}}">
              <i ng-if="subitem.icon" class="fa fa-{{subitem.icon}}"></i>
              <span>{{subitem.title}}</span>
            </a>
            <a ng-if="subitem.external" ng-href="{{subitem.link}}" target="subitem.target">
              <i ng-if="subitem.icon" class="fa fa-{{subitem.icon}}"></i>
              <span>{{subitem.title}}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
