       
  <table
      class="table table-bordered table-hover"
      ng-style="joinStyles(item.properties.styles)"
  >
    <thead>
      <tr>
        <th ng-if="!item.isDB" ng-repeat="column in item.columns track by $index"
            ng-style="joinStyles(item.properties.styles)">
          <input type="text" style="border: none; background: none; width: 100%;"
                 ng-model="column.name"
                 ng-style="joinStyles(item.properties.styles)"
                 ng-disabled="item.isDB"/>
        </th>
        <th ng-if="item.isDB" ng-repeat="column in item.dbColumns track by $index"
            ng-style="joinStyles(item.properties.styles)">
          <input type="text" style="border: none; background: none; width: 100%;"
                 ng-model="column.name"
                 ng-style="joinStyles(item.properties.styles)"
                 ng-disabled="item.isDB"/>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="!item.isDB" ng-repeat="row in item.rows track by $index">
        <td ng-repeat="data in row.data track by $index">
            <input type="text" style="border: none; background: none; width: 100%;"
                ng-style="joinStyles(item.properties.styles)"
                ng-model="data.value"
                ng-disabled="item.isDB"/>
        </td>
      </tr>
    </tbody>
  </table>
